extends base.pug

block scripts
  script(src='../static/index.js')

block style 
    style
      include ../static/styleabout.css
      include ../static/style.css

block content 
        h2#contenthead About 
        div.contentsection
            div.contentimg
                img(src="/static/img/1.png")
            div.contentpara
                p Dance is a performing art that consists of well chosen or improvised movement patterns. This movement is artistically pleasing and frequently symbolic. Dance can be defined and described according to its choreography, movement repertoire, historical era, or country of origin.The settings of theatrical and participatory dance should be distinguished from one another, even though they aren't necessarily wholly distinct. Both types of dance can have a variety of purposes, such as social, ceremonial, competitive, sensual, martial, or sacred/liturgical ones. Martial arts, gymnastics, cheerleading, figure skating, synchronised swimming, marching bands, and many other sports are among those that are sometimes described to have a dance-like character.

        div.contentsection
            div.contentpara
                p The main purpose of theatrical dance, also known as performance or concert dance, is to create a spectacle. Virtuoso dancers typically execute it on a stage. It frequently interprets the musical accompaniment, which is frequently expressly produced and performed in a theatre environment but is not a necessary. It may also tell a tale utilising mime, costume, and scenery. Western ballet and modern dance are two examples, as are Indian classical dance forms like Bharatanatyam and Chinese and Japanese song and dance productions like dragon dance. Although performance dance is typically the only focus of classical forms, it can also be found in opera and other types of musical theatre.
            div.contentimg 
                img(src="/static/img/2.png")

        div.contentsection
            div.contentimg 
                img(src="/static/img/3.png")
            div.contentpara
                p Contrarily, participatory dance—whether it be a folk dance, a social dance, a partner dance like in Western ballroom dancing, or a group dance like a line, circle, chain, or square dance—is performed primarily for a group goal, such as social interaction or exercise, or to improve participants' flexibility, rather than to benefit onlookers. Rarely does a dance like this have a story. There are significant differences between a pas de deux and a pas de deux, a group dance and a corps de ballet, etc. Even a solo dance might be performed just for the dancer's pleasure. Dancers who perform in groups frequently use the same gestures and steps.



